@charset "utf-8";

/* layout */
/* header 수정 */
#header {position:relative;background:#fff;}
#header .header {position:fixed;position:relative;z-index:300;bottom:0;clear:both;overflow:hidden;padding:20px 0 0 0;text-align:center;vertical-align:top;}
#header h1 {font-family:'Suranna',serif;font-size:34px;font-weight:normal;line-height:37px;padding:40px 0;text-align:center;letter-spacing:1px;color:#000;}
#header h1 a {color:#000;}
#header p.category {z-index:1;display:inline-block;width:24%;vertical-align:middle;}
#header p.category a {overflow:hidden;white-space:nowrap;padding: 15px;}
#header p.category img {height:14px;}
#header p.info {font-size:9px;display:inline-block;width:24%;vertical-align:middle;letter-spacing:1px;text-transform:uppercase;}
#header p.info a {color:#111;padding: 15px;}
#header .header p.search {z-index:1;display:inline-block;width:24%;vertical-align:middle;}
#header .header p.search img {width:13px;}
#header .xans-layout-orderbasketcount {display:inline-block;width:24%;vertical-align:middle;vertical-align:middle;}
#header .xans-layout-orderbasketcount img {width:15px;}
#header .xans-layout-orderbasketcount a.btnBasket .count {font-size:10px;font-weight:normal;line-height:18px;color:#111;}
#header .xans-layout-orderbasketcount a {padding: 15px;}
#header .header p.search a {padding: 15px;}

/*#layout #header .header { text-align:left; }
#layout #header h1 { height:38px; line-height:38px; padding:0 0 0 41px; }
#layout #header h1 img { max-height:23px; vertical-align:middle; }
#layout #topArea .searchWrap { padding:5px 82px 0 47px; }
#layout #header .search { top:0; }*/

#contents {position:relative;padding:10px 0 0 0;}

.btnTop {position:fixed;z-index:100;right:20px;bottom:50px;display:none;margin:0 0 0 -31px;opacity:.7;border-top:0;border-radius:40px;background:#fff;}
.btnTop a {display:inline-block;padding:7px 9px 9px 9px;}
.btnTop img {height:10px;}

/*.btnTop { display:none; position:fixed; top:0; left:50%; z-index:100; margin:0 0 0 -36px; border:1px solid #d6d6d7; border-top:0; border-radius:0 0 3px 3px; opacity:0.9; background:#616161 url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_btntop.png") no-repeat 90% 7px; background-size:12px 12px; }
.btnTop a { display:inline-block; height:29px; padding:0 26px 0 10px; line-height:29px; color:#fff; }*/

#mobileQuickLink { z-index:301 !important; }
#mobileBtnQuickLink { z-index:100 !important; }

.dimmed { display:none; position:fixed; left:0px; top:0; right:0px; bottom:0px; z-index:150; background:rgba(0,0,0,0.7); }
#dimmedSlider { display:none; position:fixed; left:0px; top:0; right:0px; bottom:0px; z-index:500; background:rgba(0,0,0,0.7); }

/* 메인 검색 */
/*#main .searchWrap { position:relative; height:38px; padding:5px 41px 0 47px; }
#main .searchWrap .searchForm { position:relative; padding:0 28px 0 33px; border:1px solid #ccc; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_search.png") no-repeat 5px 5px; background-size:20px 20px; }
#main .searchWrap .btnDelete { position:absolute; right:3px; top:5px; width:20px; height:20px; border:0; cursor:pointer; overflow:hidden; text-indent:100%; font-size:0; white-space:nowrap; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/btn_delete.png") no-repeat 0 0; background-size:20px 20px; }
#main .searchWrap #keyword { width:100%; height:29px; padding:0; border:0; }*/

/* 메인 카테고리*/
#main #header #topArea .xans-layout-mobilemaincategory { position:relative; height:43px; border-bottom:1px solid #e3e3e3; background-color:#fff; }
#main #header #topArea .xans-layout-mobilemaincategory ul { display:inline-block; width:100%; padding:0; text-align:left; font-size:0; line-height:0; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
#main #header #topArea .xans-layout-mobilemaincategory ul li { display:inline-block; width:33.3%; font-size:13px; text-align:center; }

/* 메인 스와이프 */
#main #header #topArea .xans-layout-mobilemaincategory .afterNone { display:none; }
#main #header #topArea .xans-layout-mobilemaincategory > ul { display:table; }
#main #header #topArea .xans-layout-mobilemaincategory > ul > li { width:100%; }
#main #header #topArea .xans-layout-mobilemaincategory > ul > li > ul { padding:0 40px; }
#main #header #topArea .xans-layout-mobilemaincategory > ul > li > ul li { border-bottom:3px solid #fff; width:33%; }
#main #header #topArea .xans-layout-mobilemaincategory > ul > li > ul li.selected { border-bottom-color:#217bdb; }
#main #header #topArea .xans-layout-mobilemaincategory > ul > li > ul li a { display:inline-block; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding:22px 0 18px; font-weight:bold; color:#9a9a9a; }
#main #header #topArea .xans-layout-mobilemaincategory > ul > li > ul li.selected a { color:#217bdb; }
#main #header #topArea .xans-layout-mobilemaincategory > ul > li > ul li a img { max-height:40px; }
#main #header #topArea .xans-layout-mobilemaincategory p { position:absolute; top:0; background-color:#fff; }
#main #header #topArea .xans-layout-mobilemaincategory p.btnPrev { left:0; display:none; }
#main #header #topArea .xans-layout-mobilemaincategory p.btnNext { right:0; display:none; }
#main #header #topArea .xans-layout-mobilemaincategory p a { display:inline-block; padding:13px 14px; }

/* 메인 배너 */
#main .mainBanner { position:relative; }
#main .mainBanner a img { max-height:290px; }
#main .mainBanner .paginate { position:absolute; bottom:8px; z-index:10; width:100%; text-align:center; font-size:0; line-height:0; background-color:transparent; }
#main .mainBanner .afterNone { display:none; }

/* 메인 레이어 팝업 */
.xans-popup-mobile .mainLayerArea { position:relative; z-index:120; height:0px; }
.xans-popup-mobile .mMainLayer { position:absolute; left:7px; top:7px; right:7px; border:1px solid #9d9db0; }
.xans-popup-mobile .mMainLayer .banner { position:relative; overflow:hidden; background-color:#fff; }
.xans-popup-mobile .mMainLayer ul { position:relative; white-space:nowrap; font-size:0; line-height:0; }
.xans-popup-mobile .mMainLayer ul img { width:100%; }
.xans-popup-mobile .mMainLayer li { display:inline; }
.xans-popup-mobile .mMainLayer .pagenate { position:absolute; left:0px; bottom:5px; width:100%; text-align:center; font-size:0; line-height:0; }
.xans-popup-mobile .mMainLayer .pagenate button { overflow:hidden; width:9px; height:9px; margin:0 5px 0 0; border:0; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_notice_paginate.png") no-repeat 0px 0px; background-size:8px 8px; }
.xans-popup-mobile .mMainLayer .pagenate button.selected { background-image:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_notice_paginate_selected.png"); }
.xans-popup-mobile .mMainLayer .pagenate button span { visibility:hidden; font-size:0; line-height:0; }
.xans-popup-mobile .mMainLayer .option { padding:5px; color:#fff; background-color:#434447; text-align:right; }
.xans-popup-mobile .mMainLayer .option label { font-size:12px; }
.xans-popup-mobile .mMainLayer .option button { padding:0 12px 0 4px; color:#fff; border:0; cursor:pointer; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/btn_close_notice.png") no-repeat right 2px; background-size:10px 9px; }

/* 타이틀 */
#titleArea {position:relative;padding:0 0 15px 0;}
#titleArea h1 {font-size:11px;font-weight:normal;line-height:30px;padding:0 61px;text-align:center;letter-spacing:2px;text-transform:uppercase;color:#111;}
#titleArea h2 {font-size:11px;font-weight:normal;line-height:30px;padding:0 61px;text-align:center;letter-spacing:2px;text-transform:uppercase;color:#111;}
#titleArea span { position:absolute; top:6px; left:14px; }

/* 도움말 */
.help { margin:0; padding:0 0 0 22px; color:#757575; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_help.png") 0 2px no-repeat; background-size:14px; }
.help p { margin:0 0 8px; }

/* 마이쇼핑 메인 */
.myshopMain { padding:14px 7px; font-size:13px; }

/* 스와이프 페이지네이트 Prev, Next 숨김 */
.paginate.typeSwipe .prev,
.paginate.typeSwipe .next { display:none; }


