/* 갤러리형 탭메뉴 */
ul.xans-board-listheader { text-align:right; padding:0 0 10px; }
ul.xans-board-listheader li { display:inline; }

/* //갤러리형 탭메뉴 */
.xans-board-listpackage .boardList table {
    color: #111;
    line-height: 20px;
}
.xans-board-listpackage table th {
    padding: 7px 0;
    background: #eee;
    font-size: 9px;
    font-weight: normal;
    color: #111;
    text-transform: uppercase;
    font-weight: normal;
}
.xans-board-listpackage table td {
    padding: 7px 0;
    font-size: 9px;
    border-bottom: 1px solid #efefef;
    color: #111;
    text-align: center;
    vertical-align: middle;
}
.xans-board-listpackage table a {
    color: #333 !important;
}
.xans-board-listpackage table a:hover {
    color: #888 !important;
}
.xans-board-listpackage table .comment {
    color: #333;
    font-size: 11px;
    font-weight: bold;
}
.xans-board-listpackage table td.subject,
.xans-board-listpackage table td.writer,
.xans-board-listpackage table td.thumb {
    /*font-family: 'Arial',san-serif;*/
    font-size: 12px;
    letter-spacing: 0px;
}
.xans-board-listpackage table td.thumb img {
    width: 100%;
}
.xans-board-listpackage table td.subject {
    padding-left: 20px;
    text-align: left;
    word-break: break-all;
}
.xans-board-listpackage table th:last-child,
.xans-board-listpackage table td:last-child {
    border-right: 0;
}
.xans-board-listpackage table .number { width:7%; }
.xans-board-listpackage table .thumb { width:7%; }
.xans-board-listpackage table .category { width:auto; }
.xans-board-listpackage table td.category { width:94px; }
.xans-board-listpackage table .subject { width:auto; }
.xans-board-listpackage table .name { width:15%; }
.xans-board-listpackage table .date { width:10%; }
.xans-board-listpackage table .hit { width:7%; }
.xans-board-listpackage table .grade { width:10%; }
.xans-board-listpackage table .writer { width:15%; }
.xans-board-listpackage table .recom { width:10% }

/*.xans-board-listpackage { margin:0 0 20px; }
.xans-board-listpackage div.boardList { color:#8f8f8f; padding:0 0 6px; border-bottom:1px solid #e6e6e6; font-size:.9em; }
.xans-board-listpackage table th { padding:9px 0 7px; border-top:1px solid #d3d3d3; border-bottom:1px solid #e6e6e6; font-weight:normal; color:#202020; background-color:#fafafa; }
.xans-board-listpackage table td { line-height:1.4em;  text-align:center; padding:9px 0 7px; border-top:1px solid #e9e9e9; vertical-align:middle; }
.xans-board-listpackage table a,
.xans-board-listpackage table a:hover { color:#8f8f8f; }

.xans-board-listpackage table .first td { background:none; }

.xans-board-listpackage table td.subject { text-align:left; }
.xans-board-listpackage table .subject img { vertical-align:middle; margin:0 1px; }
.xans-board-listpackage table .thumb { width:134px; overflow:hidden; }
.xans-board-listpackage table .thumb a,
.xans-board-listpackage table .thumb a:hover { color:#000; }
.xans-board-listpackage table .thumb img { width:46px; float:left; }
.xans-board-listpackage table .thumb span { float:left; padding:0 0 0 8px; width:80px; text-align:left; }

.xans-board-listpackage table tbody.notice {  background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_dot_board.gif) 0 bottom repeat-x; }
.xans-board-listpackage table tbody.notice .first td { background:none; padding-top:15px; }
.xans-board-listpackage table tr.cont td { text-align:left; }*/

.xans-board-listpackage .xans-board-buttonlist { text-align:right; overflow:hidden; margin-top: 20px;margin-bottom: 20px; }
.xans-board-listpackage .xans-board-buttonlist img { float:right; cursor:pointer; }
.xans-board-listpackage .xans-board-buttonlist a {
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    padding: 8px 20px;
    vertical-align: top;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #111;
    background: #ccc;
}.xans-board-listpackage .xans-board-buttonlist a:hover {
    color: #fff;
    background: #111;
}

/* 상품후기 아코디언형 */
.xans-board-notice #content_view td { padding:9px 10px 20px; background:#f6f7f9; text-align:left; }
.xans-board-list #content_view td { padding:9px 10px 20px; background:#f6f7f9; text-align:left; word-break:break-all; white-space:pre-wrap; }
/* //상품후기 아코디언형 */
