.xans-myshop-addrlist div.boardList { color:#8f8f8f; padding:0 0 6px; border-bottom:1px solid #333; font-size:12px; }

.xans-myshop-addrlist table th { padding:9px 0 7px; border-top:1px solid #333; border-bottom:1px solid #333; font-weight:normal; color:#111; }
.xans-myshop-addrlist table td { text-align:center; padding:9px 0 7px; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_dot_board.gif) 0 0 repeat-x; line-height:1.4em; }
.xans-myshop-addrlist table .first td { background:none; }
.xans-myshop-addrlist table .address { padding-left:10px; text-align:left; }
.xans-myshop-addrlist .noData { padding:50px; }

.xans-myshop-addrlist .btnArea { text-align:right; overflow:hidden; margin:20px 0 50px; }
.xans-myshop-addrlist .btnArea.miniType { margin:10px 0 20px; padding:0 15px; }
.xans-myshop-addrlist .btnArea img { float:left; padding:0 1px 0 0; cursor:pointer; }
.xans-myshop-addrlist .btnArea p.btnLeft { float:left; }
.xans-myshop-addrlist .btnArea p.btnRight { float:right; }
.xans-myshop-addrlist .btnArea p.btnLeft a {
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    padding: 8px 20px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333;
    border: 1px solid #ddd;
    background: #fff;
}
.xans-myshop-addrlist .btnArea p.btnLeft a:hover {
    color: #fff;
    border: 1px solid #333;
    background: #333;
}
.xans-myshop-addrlist .btnArea p.btnRight a {
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    padding: 8px 20px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ccc;
    background: #111;
}
.xans-myshop-addrlist .btnArea p.btnRight a:hover {
    color: #333;
    background: #fff;
}
.xans-myshop-addrlist .btnArea p.btnRight img { float:left; padding:0 0 0 1px; }

.xans-myshop-addrlist div.boardList tbody {color: #333;}
