.xans-myshop-benefit { margin:10px 0; padding:20px 0 0; color:#333; background:url(http://img.echosting.cafe24.com/design/skin/mono/myshop/bg_myInfo.gif) 0 0 no-repeat; }
.xans-myshop-benefit .inner{ overflow:hidden; zoom:1; padding:0 20px 20px; background:url(http://img.echosting.cafe24.com/design/skin/mono/myshop/bg_myInfo.gif) 0 bottom no-repeat; }
.xans-myshop-benefit p { float:left; padding:0 20px 0 0; }
.xans-myshop-benefit p.myInfo { width:550px; line-height:20px; }
.xans-myshop-benefit p span.typeBlock { display:block; }
