div.couponList { margin:-20px 0 0; border-top:3px solid #333; border-bottom:3px solid #333; }

.xans-myshop-couponlist .titleArea { margin:17px 0 30px; border:0; height:auto; overflow:hidden; zoom:1; }
.xans-myshop-couponlist .titleArea h3 { float:left; margin:0; font-size:14px; }
.xans-myshop-couponlist .titleArea p { clear:none; float:right; padding:0; margin:0; }

.xans-myshop-couponlist table th { padding:9px 0 7px; font-size:11px; vertical-align:middle; border-bottom:3px solid #333; font-weight:normal; color:#202020; }
.xans-myshop-couponlist table td { font-size:11px; color:#8f8f8f; vertical-align:middle; line-height:1.4em; }
.xans-myshop-couponlist .cpNum { width:40px; }
.xans-myshop-couponlist td.cpName { text-align:left; padding-left:15px; color:#7ca6d8; }
.xans-myshop-couponlist .cpGoods { width:80px; }
.xans-myshop-couponlist .cpAmount { width:80px; }
.xans-myshop-couponlist .cpPayment { width:80px; }
.xans-myshop-couponlist .cpDiscound { width:80px; }
.xans-myshop-couponlist .cpSave { width:80px; }
.xans-myshop-couponlist .cpDate { width:120px; }

.xans-myshop-couponlist table tbody.notice .first td { background:none; padding-top:15px; }
.xans-myshop-couponlist table .first td { background:none; }
.xans-myshop-couponlist table tbody.notice { }
.xans-myshop-couponlist table tbody.notice {  background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_dot_board.gif) 0 bottom repeat-x; }
.xans-myshop-couponlist table td { text-align:center; padding:9px 0 7px; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_dot_board.gif) 0 0 repeat-x;}
.xans-myshop-couponlist table td.category { width:94px; }
.xans-myshop-couponlist table td.subject { text-align:left; }
.xans-myshop-couponlist table tr.cont td { text-align:left; }
.xans-myshop-couponlist table a,
.xans-myshop-couponlist table a:hover { color:#8f8f8f; }

.xans-myshop-couponlist .couponListNone td { padding:20px; }
.xans-myshop-couponlist .btn { padding:20px 0 0; text-align:right; }
.xans-myshop-couponlist .btn img { cursor:pointer;  }