.xans-myshop-couponserial .titleArea { margin:17px 0 30px; border:0; height:auto; }
.xans-myshop-couponserial .titleArea h3 { margin:0 0 20px; font-size:14px; }

.xans-myshop-couponserial .couponSerial { margin:-20px 0 30px; padding:24px 30px 0 270px; height:101px; background:url(http://img.echosting.cafe24.com/design/skin/mono/myshop/bg_coupon.gif) 0 0 no-repeat; font-size:11px; color:#8f8f8f; }
.xans-myshop-couponserial .couponSerial input { border:1px solid #bcbcbc; padding:4px 0 0; height:26px; width:260px; font-size:15px; }
.xans-myshop-couponserial .couponSerial span { display:block; padding:4px 0 0; }
.xans-myshop-couponserial .couponSerial strong { display:block; font-weight:normal; line-height:18px; }
.xans-myshop-couponserial .couponSerial img { vertical-align:middle; }
