html, body { overflow-x:hidden; }
.layPop { background:#b4bdc5; display:inline-block; .display:inline; zoom:1; position:relative; }
.layPop .close { position:absolute; right:0; top:0; text-align:right; }
.layPop .close img { cursor:pointer; }
.layPop h1 { color:#272823; font-size:26px; text-decoration:underline; }
.layPop h1 span { display:block; padding:28px 25px 25px; }
.layPop .titleArea h2 { color:#fff; }
.layInner { position:relative; padding:20px 25px 0; background:#fff; border-top:1px solid #99a2aa; }

.xans-myshop-couponproductpackage { }
.xans-myshop-couponproductpackage .titleArea { margin:10px 0; }
.xans-myshop-couponproductpackage .titleArea h2 { margin:0; }
.xans-myshop-couponproductpackage .menuCategory { margin:20px 0; padding:0 20px 0 0; }
.xans-myshop-couponproductpackage .menuCategory > li { padding:7px; }
.xans-myshop-couponproductpackage .menuCategory li.title { background:#fff; color:#000; }
.xans-myshop-couponproductpackage .menuCategory a,
.xans-myshop-couponproductpackage .menuCategory a:hover { color:#333; }
.xans-myshop-couponproductpackage .menuCategory strong a,
.xans-myshop-couponproductpackage .menuCategory strong a:hover { color:#fff799; }
.xans-myshop-couponproductpackage .menuCategory .sub { width:auto; }

.xans-myshop-couponproductpackage .cpselectList { padding:0 20px 0 0; }
.xans-myshop-couponproductpackage .layInner { height:600px; }
.xans-myshop-couponproductpackage th { padding:7px 0 0; height:33px; color:#000; font-weight:normal; border-top:2px solid #99a2aa; border-bottom:2px solid #99a2aa;}
.xans-myshop-couponproductpackage td { padding:9px 0; border-bottom:1px solid #99a2aa;}
.xans-myshop-couponproductpackage .prduct { width:300px; }
.xans-myshop-couponproductpackage .prduct img.img_basket { float:left; padding:0 14px 0 14px; width:46px; height:61px; }
.xans-myshop-couponproductpackage .prduct strong { float:left; font-weight:normal; }
.xans-myshop-couponproductpackage .prduct strong span { display:block; padding:5px 0 0;}
.xans-myshop-couponproductpackage .made { width:100px; text-align:center; }
.xans-myshop-couponproductpackage .price { width:100px; text-align:right; padding-right:14px;}
.xans-myshop-couponproductpackage .price em { display:block; text-decoration:line-through; font-style:normal; }
.xans-myshop-couponproductpackage .typeCol a,
.xans-myshop-couponproductpackage .typeCol a:hover { color:#333; }
.xans-myshop-couponproductpackage .cpResult { padding:0 20px 0 0; }

.xans-myshop-couponproductpackage .couponSearch { font-size:11px; }
.xans-myshop-couponproductpackage .couponSearch p { padding:5px 0 0; }
.xans-myshop-couponproductpackage .couponSearch p img { vertical-align:middle; }
.xans-myshop-couponproductpackage .couponSearch p input { border:1px solid #000; height:14px; padding:2px; margin:0 2px; }

.xans-myshop-couponproductpackage .productListNone td { padding:30px 0; text-align:center; }

.xans-myshop-couponproductpaging { text-align:center; margin:20px 0 0; background:#fff; width:100%; padding:30px 30px 30px 27px ; margin:0; position:relative; left:-25px; }
.xans-myshop-couponproductpaging p,
.xans-myshop-couponproductpaging ol,
.xans-myshop-couponproductpaging li { display:inline; }
.xans-myshop-couponproductpaging img {vertical-align:middle; }
.xans-myshop-couponproductpaging ol { margin:0 7px; }
.xans-myshop-couponproductpaging li { margin:0 9px 0 0; padding:0 0 0 11px; font-size:.9em; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_page.gif) left center no-repeat; }
.xans-myshop-couponproductpaging li:first-child { background:none; }
.xans-myshop-couponproductpaging li strong { color:#f26522; }
.xans-myshop-couponproductpaging li a { color:#202020; }
.xans-myshop-couponproductpaging li a:hover { color:#f26522; text-decoration:underline; }
