.xans-attend-commentwrite { margin:20px 0; padding:15px 20px; border:1px solid #d2d2cf; background:#ececec; font-size:11px; }
.xans-attend-commentwrite legend { display:none; }
.xans-attend-commentwrite p { padding:5px 0; color:#000; }
.xans-attend-commentwrite p label { padding:0 10px 0 0; }
.xans-attend-commentwrite p a { margin:0 -2px 0 0;}
.xans-attend-commentwrite p.grade input { border:0; padding:0; background:none; }
.xans-attend-commentwrite textarea { width:637px; height:46px;  border:1px solid #bcbcbc; background:#fff; color:#202020; padding:1px 0 2px 4px; }

.xans-attend-commentlist { background:#f0f2ef ; border-top:5px solid #333; border-bottom:5px solid #333; }
.xans-attend-commentlist .memoCont { overflow:hidden; padding:20px; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_dot_board.gif) 0 0 repeat-x; color:#8f8f8f; }
.xans-attend-commentlist .reply { background:#fefcec url(http://img.echosting.cafe24.com/design/skin/mono/bg_dot_board.gif) 0 0 repeat-x; }
.xans-attend-commentlist .inner { padding:0 0 0 20px; background:#fefcec url(http://img.echosting.cafe24.com/design/skin/mono/board/bg_memoRe.gif) 0 0 no-repeat;}
.xans-attend-commentlist .memoCont p.user { float:left; color:#202020; }
.xans-attend-commentlist .memoCont p.btn { float:right; color:#202020;  padding:0 0 0 20px;}
.xans-attend-commentlist .memoCont p.btn a,
.xans-attend-commentlist .memoCont p.btn a:hover {color:#202020; padding:0 7px 0 0; background:url(http://img.echosting.cafe24.com/design/skin/mono/board/bg_btnLine.gif) right center no-repeat; }
.xans-attend-commentlist .memoCont p.btn a.last { padding:0; background:none !important; }
.xans-attend-commentlist .reply p.user span.re { padding:0 10px 0 0; }
.xans-attend-commentlist .reply p.btn a,
.xans-attend-commentlist .reply p.btn a:hover {color:#8f8f8f; background:url(http://img.echosting.cafe24.com/design/skin/mono/board/bg_btnLine2.gif) right center no-repeat;}
.xans-attend-commentlist .memoCont p.date { float:right; }
.xans-attend-commentlist .memoCont p.memo { clear:both; padding:10px 0 0; }
.xans-attend-commentlist .reply p.memo { padding:10px 0 0 28px; }
#commentForm{ display:block; }
