.xans-member-findidresult {width:100%;margin:0 auto;padding:0 0 50px 0;color:#333;}
.xans-member-findidresult .findId {width:400px;margin:0 auto;}
.xans-member-findidresult .findId .desc {font-size:16px;font-weight:bold;margin:20px 0;text-align:center;color:#333;}
.xans-member-findidresult .findId .memberInfo { overflow:hidden; border:1px solid #d6d4d4; font-size: 12px;}
.xans-member-findidresult .findId ul { padding:30px; }
.xans-member-findidresult .findId li { margin:0 0 4px; }
.xans-member-findidresult .findId li label { display:inline-block; margin:0 0 5px 10px; }

.xans-member-findidresult .findId .button {padding:30px 0 20px 0;text-align:center;text-transform: uppercase;}
.xans-member-findidresult .findId .button a {float: left;font-size:9px;padding:7px 20px;letter-spacing:1px;color:#fff;border:1px solid #111;background:#111;}
.xans-member-findidresult .findId .button a:hover {color:#111;border:1px solid #ddd;background:#ddd;}
