.xans-layout-boardinfo { margin:25px 0; color:#8f8f91; }
.xans-layout-boardinfo h2 { padding:30px 0 17px; }
.xans-layout-boardinfo h2 img { display:block; }
.xans-layout-boardinfo li { font-size:11px; line-height:1.8em; }
.xans-layout-boardinfo a { color:#8f8f91; }
.xans-layout-boardinfo a:hover { color:#b33471; }
