.xans-layout-info { margin:25px 0; }
.xans-layout-info h2 { padding:0 0 17px; }
.xans-layout-info h2 img { display:block; }
.xans-layout-info ul { padding:10px 0 0; }
.xans-layout-info li { line-height:1.6em; color:#333; }
.xans-layout-info li strong { width:48px; display:inline-block; .display:inline; zoom:1; color:#999; }
