.layPop { background:#b4bdc5; display:inline-block; .display:inline; zoom:1; position:relative; }
.layPop .close { position:absolute; right:0; top:0; text-align:right; }
.layPop .close img { cursor:pointer; }
.layPop h1 { color:#272823; font-size:26px; text-decoration:underline; }
.layPop h1 span { display:block; padding:28px 25px 25px; }
.layPop .titleArea h2 { color:#fff; }
.layInner { position:relative; padding:20px 25px 0; background:#fff; color:#000; border-top:1px solid #99a2aa; }
.layPop .btnArea { overflow:hidden; background:#fff; width:100%; padding:30px 30px 30px 27px; margin:0; position:relative; left:-25px; text-align:right; }

.xans-member-checkunderfourteen {}
.xans-member-checkunderfourteen .layInner { width:510px; }
.xans-member-checkunderfourteen .check { margin:20px 0 0; padding:10px; border-top:1px solid #dddcdd; border-bottom:1px solid #dddcdd; }
.xans-member-checkunderfourteen .check p { overflow:hidden; zoom:1; padding:5px 0; font-size:11px; }
.xans-member-checkunderfourteen .check strong { float:left; width:84px; padding:2px 0 0; font-weight:normal; }
.xans-member-checkunderfourteen .check span { float:left; width:300px; }
.xans-member-checkunderfourteen .check input { padding:2px; border:1px solid #bcbcbc; }
.xans-member-checkunderfourteen .check input.btn { padding:0; border:0; }
.xans-member-checkunderfourteen .check #name { width:120px; }
.xans-member-checkunderfourteen .check #ssn1 { width:80px; }
.xans-member-checkunderfourteen .check #ssn2 { width:80px; }

.xans-member-checkunderfourteen .info { padding:0 0 0 17px; font-size:11px; background:url(http://img.echosting.cafe24.com/design/skin/mono/order/ico_couponSelect.gif) 0 0 no-repeat; ; }
.xans-member-checkunderfourteen .info span { color:#f26323; }

.xans-member-checkunderfourteen .agreement { margin:10px 0 0; font-size:11px; }
.xans-member-checkunderfourteen .agreement p { padding : 5px 0 0; }

/* 추가 */
.xans-member-checkunderfourteen .select { margin:15px 0; }
.xans-member-checkunderfourteen .select label { margin:0 10px 0 0; }
.xans-member-checkunderfourteen .ipin p { margin:0 0 5px; }
