.xans-member-edit h3 { margin:30px 0; }
.xans-member-edit div.boardView { clear:both; margin-top:18px; border-top:3px solid #333; border-bottom:3px solid #333; }
.xans-member-edit table.boardView { background:#f5f5f5; }

.xans-member-edit table.boardView input,
.xans-member-edit table.boardView textarea { border:1px solid #bcbcbc; background:#fff; color:#202020; padding:1px 0 2px 4px; }

.xans-member-edit table.boardView th { width:120px; padding:5px 0 5px 20px; text-align:left; line-height:2em; border-bottom:1px solid #e6e6e6; color:#838382; font-weight:normal; }
.xans-member-edit table.boardView td { width:616px; padding:5px 0 5px; border-bottom:1px solid #e6e6e6; line-height:2em; color:#8b8b8c;  }
.xans-member-edit table.boardView td fieldset { width:580px; }
.xans-member-edit table.boardView td.write { width:100%; }
.xans-member-edit table.boardView td img { vertical-align:middle; }

.xans-member-edit table.boardView thead th { border-bottom:3px solid #333; }
.xans-member-edit table.boardView thead td { border-bottom:3px solid #333; }
.xans-member-edit table.boardView tfoot th { border-top:3px solid #333; }
.xans-member-edit table.boardView tfoot td { border-top:3px solid #333; }
.xans-member-edit table.boardView .first { border-top:0; padding-top:20px; }

/* INPUT SIZE - MEMBERS */
.xans-member-edit #hint_answer { width:500px; }
.xans-member-edit #postcode1,
.xans-member-edit #postcode2 { width:40px; text-align:center; padding:1px 0 2px 0;}
.xans-member-edit #addr1,
.xans-member-edit #addr2 { width:500px; margin:3px 0;}
.xans-member-edit #phone1,
.xans-member-edit #mobile1 { width:60px; margin:0 4px 0 0;}
.xans-member-edit #phone2,
.xans-member-edit #phone3,
.xans-member-edit #mobile2,
.xans-member-edit #mobile3 { width:80px; margin:0 4px;}
.xans-member-edit #email1,
.xans-member-edit #email2 { width: 150px; margin:0 4px 0 0;}
.xans-member-edit #email2 { margin:0 4px; }
.xans-member-edit #birth_year,
.xans-member-edit #marry_year,
.xans-member-edit #partner_year { width:60px; margin:0 4px 0 0;}
.xans-member-edit #birth_month,
.xans-member-edit #marry_month,
.xans-member-edit #partner_month,
.xans-member-edit #birth_day,
.xans-member-edit #marry_day,
.xans-member-edit #partner_day { width:30px; margin:0 4px 0 0;}

.xans-member-edit #job,
.xans-member-edit #job_class,
.xans-member-edit #school,
.xans-member-edit #region,
.xans-member-edit #internet,
.xans-member-edit #child,
.xans-member-edit #car,
.xans-member-edit #earning { width:200px; }

.xans-member-edit #add1,
.xans-member-edit #add2,
.xans-member-edit #add3,
.xans-member-edit #add4,
.xans-member-edit #add5,
.xans-member-edit #add6,
.xans-member-edit #add7,
.xans-member-edit #add8,
.xans-member-edit #add9  { width:500px; }

.xans-member-edit .btnArea { text-align:right; overflow:hidden; margin:20px 0 50px; }
.xans-member-edit .btnArea.miniType { margin:10px 0 20px; padding:0 15px; }
.xans-member-edit .btnArea img { float:left; padding:0 1px 0 0; cursor:pointer; }

.xans-member-edit .btnArea p.btnLeft { float:left; }
.xans-member-edit .btnArea p.btnRight { float:right; }
.xans-member-edit .btnArea p.btnRight img { float:left; padding:0 0 0 1px; }
