.xans-myshop-main.myshop_main {
    border: 1px solid #eee;
    background: #fff;
    margin: 0 20px 30px 20px;
}
.xans-myshop-main li {
    border-top: 1px solid #eee;
    font-size: 11px;
    letter-spacing: 0;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 15px;
}
.xans-myshop-main li:first-child { border-top:0; }
.xans-myshop-main li a {
    display: block;
    position: relative;
    padding: 14px 14px 14px 30px;
}
.xans-myshop-main li a strong {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: normal;
}
.xans-myshop-main li a:after {
    display: block;
    position: absolute;
    top: 14px;
    right: 5px;
    content: "";
    width: 20px;
    height: 20px;
    background: url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/myshop/ico_arrow_right.png") no-repeat;
    background-size: 10px;
}
.xans-myshop-main li .count { color:#333; }

.xans-myshop-main li.order { background-image:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/myshop/ico_order.png"); }
.xans-myshop-main li.modify { background-image:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/myshop/ico_modify.png"); }
.xans-myshop-main li.wishlist { background-image:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/myshop/ico_wishlist.png"); }
.xans-myshop-main li.mileage { background-image:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/myshop/ico_mileage.png"); }
.xans-myshop-main li.deposits { background-image:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/myshop/ico_deposits.png"); }
.xans-myshop-main li.consult { background-image:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/myshop/ico_consult.png"); }
.xans-myshop-main li.coupon { background-image:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/myshop/ico_coupon.png"); }
.xans-myshop-main li.board { background-image:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/myshop/ico_board.png"); }
.xans-myshop-main li.address { background-image:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/myshop/ico_address.png"); }
