.xans-product-8 {margin-top:20px; padding:5px 1px; background-color:#353535;}
.xans-product-8 h2 {margin-bottom:5px; color:#ddd; font:bold 10px verdana, tahoma, arial, sans-serif;}
.xans-product-8 ul {overflow:hidden;}
.xans-product-8 li {float:left; margin-left:3px;}
.xans-product-8 li:first-child {margin-left:0;}
.xans-product-8 img {width:39px; height:52px;}