#contents {padding-right:5px;}

.xans-product-3 {overflow:hidden;}
.xans-product-3 dl {float:left; margin:10px 5px 0 0;}
.xans-product-3 dt img {width:80px;}
.xans-product-3 dd p {margin-top:5px; font-size:11px;}