.xans-product-5 {margin-top:20px; padding:5px 1px; background-color:#353535;}
.xans-product-5 h2 {margin-bottom:5px; color:#ddd; font:bold 10px verdana, tahoma, arial, sans-serif;}
.xans-product-5 dl {overflow:hidden;}
.xans-product-5 dt {float:left;}
.xans-product-5 dd {float:left; margin:110px 0 0 20px; color:#7bf652; font-size:11px;}
.xans-product-5 img {width:170px; height:234px;}