.xans-project-head {}
.xans-project-head { overflow:hidden; margin:3px 0 17px; }
.xans-project-head h3 { float:left; text-indent:-9999em; margin:0; }
.xans-project-head ul { float:right; }
.xans-project-head ol { float:right; }
.xans-project-head li { padding:0 0 0 22px; display:inline; font-size:.9em; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_path.gif) 0 50% no-repeat; }
.xans-project-head li.displaynone { display:none; }
.xans-project-head li.first { background:none; }

.xans-project-list { margin:0 0 30px; }
.xans-project-list .titleArea { margin:30px 0; }
.xans-project-list ul { clear:both; zoom:1; padding:0 0 50px; border-bottom:1px solid #dedcdc; }
.xans-project-list ul:after {content:""; display:block; clear:both; }
.xans-project-list ul li { float:left; width:180px; padding:0 0 0 12px; line-height:1.6em; color:#838382; }
.xans-project-list ul li.first { padding:0; }
.xans-project-list ul li a,
.xans-project-list ul li a:hover { color:#838382; }
.xans-project-list ul .prdImg { display:block; }
.xans-project-list ul .prdImg img { display:block; width:180px; }
.xans-project-list ul .zoom { float:right; padding:7px 0 0; cursor:pointer; }
.xans-project-list ul .name { float:left; width:160px; padding:4px 0; line-height:16px; }
.xans-project-list ul .icon { display:block; clear:both; }
.xans-project-list ul .price {  display:block; clear:both; }
.xans-project-list ul .mileage { display:block; clear:both; }
.xans-project-list ul .mileage img { vertical-align:middle; }
.xans-project-list ul .btns { overflow:hidden; zoom:1; }
.xans-project-list ul .btns img { cursor:pointer; margin:0 4px 0 0; }
.xans-project-list ul .btns .bag { float:left; padding:7px 10px 0 0; }
.xans-project-list ul .btns .option { float:left; padding:7px 0 0; }
.xans-project-list ul .custom {text-decoration:line-through; }
.xans-project-list ul .manu { display:block; }
.xans-project-list ul .btn { display:block; text-align:center; }