.xans-product-recentlist { margin:0 0 30px; }
.xans-product-recentlist .titleArea { margin:30px 0; }

.xans-product-recentlist div.boardList { color:#8f8f8f; padding:0 0 6px; border-bottom:3px solid #333; font-size:.9em; }
.xans-product-recentlist table th { padding:9px 0 7px; border-top:3px solid #333; border-bottom:3px solid #333; font-weight:normal; color:#202020; }
.xans-product-recentlist table td { line-height:1.4em; text-align:center; padding:9px 0 7px; border-top:1px solid #ddddde; }
.xans-product-recentlist table .first td { border:none; }

.xans-product-recentlist .thumb { width:90px; text-align:center; }
.xans-product-recentlist .thumb img { width:65px; }
.xans-product-recentlist .product { font-size:12px; }
.xans-product-recentlist td.product { text-align:left; }
.xans-product-recentlist .product .zoom { cursor:pointer; }
.xans-product-recentlist .option { width:120px; }
.xans-product-recentlist .option li { line-height:1.8em; }
.xans-product-recentlist .option input { display:block; border:1px solid #bcbcbc; padding:1px; }
.xans-product-recentlist .option select { display:block; }
.xans-product-recentlist td.option { text-align:left; }
.xans-product-recentlist .price { width:120px; }
.xans-product-recentlist td.price {}
.xans-product-recentlist td.price .custom { display:block; text-decoration:line-through; }
.xans-product-recentlist .button { width:50px; }
.xans-product-recentlist .button a { display:block; padding:0 0 2px; text-align:center; }

.xans-product-recentlist p.empty { border-top:3px solid #333; padding:26px 0 20px; text-align:center; }