.layPop { background:#b4bdc5; }
.layPop .close { position:absolute; right:18px; top:0; text-align:right; }
.layPop .close img { cursor:pointer; }
.layPop h1 { color:#272823; font-size:26px; text-decoration:underline; }
.layPop h1 span { display:block; padding:28px 25px 25px; }
.layPop .titleArea h2 { color:#fff; }
.layInner { padding:20px 25px 0; background:#fff; color:#000; border-top:1px solid #99a2aa; }
.layPop .btnArea { overflow:hidden; background:#fff; width:100%; padding:30px 30px 30px 27px; margin:0 -60px 0 0; position:relative; left:-25px; text-align:right; }
.layPop .btnArea img { padding:0 1px 0 0; cursor:pointer; }

.xans-product-restocksms .prdArea { overflow:hidden; zoom:1; padding:0 0 20px; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_dot_board.gif) 0 bottom repeat-x;}
.xans-product-restocksms .prdArea p.prdImg { float:left; padding:0 15px 0 0;}
.xans-product-restocksms .prdArea p.prdImg img { width:72px; }
.xans-product-restocksms .prdArea h2 { padding:0 0 14px; }
.xans-product-restocksms .prdArea h2 img { vertical-align:middle; }

.xans-product-restocksms .usedArea { padding:40px 20px; border-bottom:1px solid #dedcdc; font-size:11px; line-height:18px; }
.xans-product-restocksms .usedArea .info { padding:0 0 15px; color:#f26522; }
.xans-product-restocksms .usedArea .member span { padding:0 40px 0 0; }
.xans-product-restocksms .usedArea .member strong { color:#f26522; }
.xans-product-restocksms .usedArea .member label { padding:0 0 0 3px; }
.xans-product-restocksms .usedArea .contact { padding:3px 0 20px; }
.xans-product-restocksms .usedArea .contact input { border:1px solid #eee; width:60px; padding:4px; text-align:center; }
.xans-product-restocksms .usedArea .guide strong { color:#f26522; font-weight:normal; text-decoration:underline; }