.layPop { background:#b4bdc5; display:inline-block; .display:inline; zoom:1; position:relative; }
.layPop .close { position:absolute; right:0; top:0; text-align:right; }
.layPop .close img { cursor:pointer; }
.layPop h1 { color:#272823; font-size:26px; text-decoration:underline; }
.layPop h1 span { display:block; padding:28px 25px 25px; }
.layPop .titleArea h2 { color:#fff; }
.layInner { position:relative; padding:20px 25px 0; background:#fff; color:#000; border-top:1px solid #99a2aa; }
.layPop .btnArea { overflow:hidden; background:#fff; width:100%; padding:30px 30px 30px 27px; margin:0; position:relative; left:-25px; text-align:right; }

.xans-product-zoom { overflow:hidden; zoom:1; }
.xans-product-zoom .listImg { font-size:0; overflow:hidden; margin:20px 0 0; padding:20px 0 0; border-top:1px solid #c3cad1; text-align:left; }
.xans-product-zoom .listImg ul { display:inline-block; overflow:hidden; margin:0 0 0 -1px;  }
.xans-product-zoom .listImg li { float:left; margin:0 0 0 1px; }
.xans-product-zoom .listImg li img { width:72px; cursor:pointer; }

.xans-product-zoom #imgArea { float:left; width:450px;  }
.xans-product-zoom #imgArea .keyImg { width:450px; height:600px;}
.xans-product-zoom #imgArea .keyImg img { max-width:364px; cursor:pointer; }
.xans-product-zoom #imgArea .moreImg { text-align:center; background:#b4bdc5; }
.xans-product-zoom #imgArea .prevImg { float:left; width:73px; background:#fff; }
.xans-product-zoom #imgArea .nextImg { float:right; width:73px; background:#fff; text-align:right; }

.xans-product-zoom #prdInfo { float:right; width:320px; padding:0 0 20px 0; }
.xans-product-zoom #prdInfo h3 { padding:0 0 13px; font-size:18px; border-bottom:1px solid #c3cad1; }
.xans-product-zoom #prdInfo h3 span {display:block; padding:3px 0 0;}
.xans-product-zoom #prdInfo h3 span img { vertical-align:middle; }
.xans-product-zoom #prdInfo .prdName { background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_dot.gif) 0 bottom repeat-x; padding:8px 0 10px; }
.xans-product-zoom #prdInfo .mileage td { padding-top:7px; }
.xans-product-zoom #prdInfo .mileage td li { line-height:1.7em; }

.xans-product-zoom #prdInfo table { border:0; font-size:.9em; margin:10px 0 0;}
.xans-product-zoom #prdInfo th { font-weight:normal; color:#808080; width:85px; padding:9px 0 9px 5px; text-align:left; }
.xans-product-zoom #prdInfo td { padding:9px 0; color:#202020; }
.xans-product-zoom #prdInfo td input { border:1px solid #bcbcbc; height:18px; }
.xans-product-zoom #prdInfo td.social { padding:4px 0 0; }
.xans-product-zoom #prdInfo td.social img { cursor:pointer; }
.xans-product-zoom #prdInfo td .sale { text-decoration:line-through; }
.xans-product-zoom #prdInfo tr.quantity td p { position:relative; }
.xans-product-zoom #prdInfo tr.quantity td input { width:30px; height:18px; border:1px solid #bcbcbc; }
.xans-product-zoom #prdInfo tr.quantity td .QuantityUp { position:absolute; left:32px; top:0; }
.xans-product-zoom #prdInfo tr.quantity td .QuantityDown { position:absolute; left:32px; bottom:0; }
.xans-product-zoom #prdInfo .delivery input { border:0; }

.xans-product-zoompackage { width:880px; }
.xans-product-zoompackage .layInner { position:relative; padding:20px 25px 0; }
.xans-product-zoompackage .layInner .xans-product-action { position:relative; left:-25px; overflow:hidden; width:100%; padding:30px 30px 30px 27px; margin:20px 0 0; text-align:right; background:#fff;  }
.xans-product-zoompackage .layInner .xans-product-action img { float:left; padding:0 1px 0 0; cursor:pointer; }
.xans-product-zoompackage .layInner .xans-product-action p.btnLeft { float:left; }
.xans-product-zoompackage .layInner .xans-product-action p.btnRight { float:right; }
.xans-product-zoompackage .layInner .xans-product-action p.btnRight img { float:left; padding:0 0 0 1px; }

#NaverChk_Button { clear:both; margin:10px 0 0; float:right; }

#divNvPointInfo { display:none; position:absolute; z-index:99; width:245px; padding:10px; color:#777; font-size:11px; background:#fff; border:1px solid #5B9761; }
#divNvPointInfo a { display:block; padding:5px 0 0; color:#1ec228; }
#divNvPointInfo a img { vertical-align:middle; }
#imgNaverMileageHelp { cursor:pointer; }