.xans-order-basketpackage .orderStep { margin:-15px 0 30px; text-align:center; }
/*.xans-order-basketpackage .orderList*/ {margin:50px 0 20px;}
/*.xans-order-basketpackage .xans-order-empty p { padding:30px 0 0; text-align:center; font-weight:bold; color:#614261; }*/
.xans-order-basketpackage .titleArea h3 { color:#202020; }

.xans-order-basketpackage .btnArea { text-align:right; overflow:hidden; margin:20px 0 50px; }
.xans-order-basketpackage .btnArea img { float:left; padding:0 1px 0 0; cursor:pointer; }
.xans-order-basketpackage .btnArea p.btnLeft { float:left; }
.xans-order-basketpackage .btnArea p.btnRight { float:right; }
.xans-order-basketpackage .btnArea p.btnRight img { float:left; padding:0 0 0 1px; }

/*.boardProduct th { padding:9px 0; font-size:11px; font-weight:normal; }
.boardProduct th.delivery { color:#333; }
.boardProduct td { padding:10px 0; font-size:11px; text-align:center; border-top:1px solid #d9ada0; background:#fdfbfa; }
.boardProduct .chk { width:30px; }
.boardProduct .thumb { width:134px; overflow:hidden; }
.boardProduct .thumb a,
.boardProduct .thumb a:hover { color:#000; }
.boardProduct .thumb img { width:46px; float:left; }
.boardProduct .thumb span { float:left; padding:0 0 0 8px; width:80px; text-align:left; }
.boardProduct .prduct { }
.boardProduct .prduct img { vertical-align:middle; margin:0 2px; }
.boardProduct .sell { width:80px; }
.boardProduct .mileage { width:63px;}
.boardProduct .opt { width:280px; }
.boardProduct .quantity { width:80px; }
.boardProduct .quantity img { margin:0 0 0 2px; cursor:pointer; }
.boardProduct .delivery { width:75px; color:#888a86; }
.boardProduct .charge { width:58px; }
.boardProduct .total { width:110px; }
.boardProduct .state { width:75px; }
.boardProduct .delivery1 { width:75px; }
.boardProduct .delivery2 { width:75px; }*/

/*.boardProduct td.chk {}
.boardProduct td.thumb {}
.boardProduct td.prduct { text-align:left;}
.boardProduct td.prduct strong { display:block; padding:5px 0 0; font-weight:normal; color:#888a86; overflow:hidden; }
.boardProduct td.prduct .btnPrdWrite a { float:left; padding:1px; background:#b0b0b0; color:#fff; }
.boardProduct td.prduct ul { padding:5px 0 0; color:#888a86;}
.boardProduct td.sell {}
.boardProduct td.mileage { }
.boardProduct td.opt {}
.boardProduct td.quantity input { border:1px solid #bcbcbc; width:25px; text-align:center; }
.boardProduct td.delivery { }
.boardProduct td.charge { }
.boardProduct td.total { font-weight:bold; color:#34a7b3; }*/

.boardProduct tfoot td { text-align:right; padding:7px 7px 20px; background:none; color:#000; }
/*.boardProduct tfoot td .total { color:#f8941d; }*/

.ordDelivery1 { background:none; }
/*.ordDelivery1 tfoot td { border-top:2px solid #d9ada0; }*/
/*.ordDelivery1 tfoot td .type { color:#d9ada0; float:left; }*/
.ordDelivery1 .thumb { width:60px; text-align:center; }
.ordDelivery1 .thumb img { float:none; }

.ordDelivery2 { background:none; }
/*.ordDelivery2 td { border-top:1px solid #a0bdd9; background:#fafcfd;}*/
/*.ordDelivery2 tfoot td { border-top:2px solid #a0bdd9;  }*/
.ordDelivery2 tfoot td .type { color:#a0bdd9; float:left; }
.ordDelivery2 .thumb { width:60px; text-align:center; }
.ordDelivery2 .thumb img { float:none; }

.xans-order-allotmentinfo p.cardList { font-size:.9em; padding:6px 0 0; margin:6px 0 0; color:#34a7b3; text-align:right; border-top:1px solid #000; }

.xans-order-totalsummary { overflow:hidden; background:#beb1a4; color:#fff; margin:30px 0 10px; padding:22px 17px 22px 39px; }
.xans-order-totalsummary h4 { float:left; margin:0; }
.xans-order-totalsummary h4 strong { display:block; color:#fff799; font-size:2.0em; padding:0 0 10px; }
.xans-order-totalsummary h4 span { font-weight:normal; }
.xans-order-totalsummary ul { float:right; width:344px; }
.xans-order-totalsummary li { overflow:hidden; font-size:.9em; padding:4px 0; }
.xans-order-totalsummary li strong { float:left; width:150px; text-align:right; font-weight:normal; }
.xans-order-totalsummary li span { float:right; width:174px;  padding:0 0 0 20px; text-align:right; font-weight:bold; font-family: "돋움", Dotum, AppleGothic, sans-serif;  }
.xans-order-totalsummary li.total strong { padding:4px 0 0;}
.xans-order-totalsummary li.total span { color:#fff799; font-size:2.0em; }

#NaverChk_Button { clear:both; margin:10px 0 0; float:right; }
.xans-order-basketpackage .xans-order-empty p {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 50px 0;
    text-align: center;
    color: #333;
    font-family: 'Arial',san-serif;
    font-size: 12px;
    letter-spacing: 0;
}
/* 수정 */
.xans-order-basketpackage .boardList {
    color: #111;
    line-height: 20px;
}
.xans-order-basketpackage .boardList th {
    padding: 7px 0;
    vertical-align: middle;
    background: #eee;
    font-size: 9px;
    font-weight: normal;
    color: #111;
    text-transform: uppercase;
    font-weight: normal;
}
.xans-order-basketpackage .boardList td {
    padding: 20px 0;
    font-size: 12px;
    font-family: Arial;
    border-bottom: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0;
}
.xans-order-basketpackage .boardList td.mileage,
.xans-order-basketpackage .boardList td a,
.xans-order-basketpackage .boardList td strong {font-size:11px;font-weight:normal;letter-spacing:1px;}
.xans-order-basketpackage .boardList td.thumb img {width:80px;}
.xans-order-basketpackage .boardList td .xans-order-option {font-size:11px;color:#757575;}
.xans-order-basketpackage .boardList .chk {width:5%;}
.xans-order-basketpackage .boardList .thumb {width:10%;}
.xans-order-basketpackage .boardList .product {width:auto;}
.xans-order-basketpackage .boardList .price {width:10%;}
.xans-order-basketpackage .boardList .quantity {width:3%;}
.xans-order-basketpackage .boardList .mileage {width:10%;}
.xans-order-basketpackage .boardList .delivery {width:7%;}
.xans-order-basketpackage .boardList .charge {width:7%;}
.xans-order-basketpackage .boardList .total {width:10%;}
.xans-order-basketpackage .boardList .button {width:10%;padding:0 18px 0 0;}
.xans-order-basketpackage .boardList tfoot td {
    text-align: right;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
    background: #fff;
    font-family: 'Arial',san-serif;
    font-size: 12px !important;
    letter-spacing: 1px;
}
.xans-order-basketpackage .boardList tfoot td strong {font-weight:normal;}
.xans-order-basketpackage .boardList td.button a {
    display: block;
    font-size: 9px;
    margin: 0 0 3px 0;
    border: 1px solid #ddd;
    background: #fff;
    color: #111;
    text-transform: uppercase;
}
.xans-order-basketpackage .boardList span.quantity {position:relative;display:inline-block;width:27px;margin:0 1px 4px 0;padding:0 21px 0 0;border:1px solid #d4d8d9;border-radius:2px;}
.xans-order-basketpackage .boardList td.mileage,
.xans-order-basketpackage .boardList td a,
.xans-order-basketpackage .boardList td strong {font-size:11px;font-weight:normal;letter-spacing:1px;}
.xans-order-basketpackage .boardList span.quantity input {line-height:23px;width:22px;height:23px;padding:0 0 0 5px;border:0;}
.xans-order-basketpackage .boardList span.quantity .QuantityUp {position:absolute;top:0;left:27px;}
.xans-order-basketpackage .boardList span.quantity .QuantityDown {position:absolute;bottom:0;left:27px;}

/* Button */
.xans-order-basketpackage .xans-order-totalorder {font-size:9px;float:right;overflow:hidden;padding:15px 0 0 0;text-align:center;text-transform:uppercase;}
.xans-order-basketpackage .xans-order-totalorder span.right {float:right;margin:0 0 0 5px;}
.xans-order-basketpackage .xans-order-totalorder span.right a.ok {display:block;padding:7px 30px;color:#fff;border:1px solid #111;background:#111;}
.xans-order-basketpackage .xans-order-totalorder span.right a.ok:hover {display:block;color:#111;border:1px solid #ddd;background:#ddd;}
.xans-order-basketpackage .xans-order-totalorder a {display:block;padding:7px 20px;color:#111;border:1px solid #ddd;background:#ddd;}
.xans-order-basketpackage .xans-order-totalorder a:hover {display:block;color:#111;border:1px solid #eee;background:#eee;}

.xans-order-basketpackage .xans-order-selectorder {font-size:9px;float:left;overflow:hidden;padding:15px 0 0 0;text-align:center;text-transform:uppercase;}
.xans-order-basketpackage .xans-order-selectorder span {float:left;margin:0 5px 0 0;}
.xans-order-basketpackage .xans-order-selectorder span a {display:block;padding:7px 20px;color:#111;border:1px solid #ddd;background:#fff;}
